Service running at /etc/systemd/system/tg-forward.service
[Unit]
Description=Telegram Forwarder (tmux)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=hpserver
WorkingDirectory=/home/hpserver/System_Scripts
RemainAfterExit=yes

ExecStartPre=-/usr/bin/tmux kill-session -t tg_forwarder

ExecStart=/usr/bin/tmux new-session -d -s tg_forwarder "/bin/bash -lc 'cd /home/hpserver/System_Scripts && source .venv/bin/activate && exec python tg_forwarder.py'"

ExecStop=-/usr/bin/tmux kill-session -t tg_forwarder

[Install]
WantedBy=multi-user.target